code[class*="language-"],
pre[class*="language-"] {
  /*text-shadow: 0 1px #fff;*/
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  -moz-tab-size: 2; -o-tab-size: 2; tab-size: 2;
  -webkit-hyphens: none; -moz-hyphens: none; -ms-hyphens: none; hyphens: none;
}

/*.frame {*/
  /*display: block;*/
  /*width: 100vw;*/
  /*height: 100vh;*/
  /*max-width: 100%;*/
  /*margin: 0;*/
  /*padding: 0;*/
  /*border: 0 none;*/
  /*box-sizing: border-box;*/
/*}*/