numpy
matplotlib
opencv-python
imutils
google
cachetools
certifi
chardet
Click
Flask
google
google-api-core
google-auth
google-cloud-vision
google-cloud-automl
googleapis-common-protos
grpcio
idna
itsdangerous
Jinja2
MarkupSafe
Pillow
requests
rsa
six
urllib3
Werkzeug

