<!DOCTYPE html>
<html >

<!-- Info -->
<head>
  <title>Home</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <meta name="description" content="">
  <link rel="shortcut icon" href="assets/images/mbr-240x160.jpg" type="image/x-icon">
  

<!-- All CSS Files Used -->
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
</head>


<!-- All content goes here-->
<body>

    <!-- Navigiation Bar-->
  <link rel="stylesheet" href="style.less" class="cid-rgO5g6O9Nd" id="menu1-3" data-rv-view="97"><section class="menu cid-rgO5g6O9Nd" once="menu" id="menu1-3">
    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="">
                         <img src="assets/images/mbr-240x160.jpg"  title="" style="height: 3.8rem;">
                    </a>
                </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption text-white display-4" href="">HTML FORGE</a></span>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true"><li class="nav-item">
                    <a class="nav-link link text-white display-4" href="">About</a>
                </li><li class="nav-item"><a class="nav-link link text-white display-4" href="">How It Works</a></li>
                <li class="nav-item">
                    <a class="nav-link link text-white display-4" href="">The Team &nbsp;</a>
                </li></ul>
            <div class="navbar-buttons mbr-section-btn"><a class="btn btn-sm btn-primary display-4" href="">
                    
                    Try It Now!
                </a></div>
        </div>
    </nav></section>


<!-- Content section 1-->
<section class="engine"><a href="">html5 templates</a></section><section class="cid-rgO5L4iBfZ mbr-fullscreen" id="header2-5">
    <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(35, 35, 35);"></div>
    <div class="container align-center">
        <div class="row justify-content-md-center">
            <div class="mbr-white col-md-10">
                <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-1">
                    Title</h1>
                
                <p class="mbr-text pb-3 mbr-fonts-style display-7">
                    Nulla vitae erat at metus tempor vulputate in ut metus. Nulla sollicitudin turpis non elementum convallis. Sed pulvinar est a convallis tempus. Donec porttitor, lectus a dignissim ullamcorper, quam justo euismod quam, sit amet tincidunt orci ligula et libero. Aenean tempus lorem et elit sollicitudin condimentum. Donec malesuada finibus eros, id mollis justo tincidunt sit amet. Sed pulvinar justo non diam egestas porttitor. Vivamus elit massa, consequat non dui eu, tempus tincidunt ante. Pellentesque quis sapien dignissim, iaculis nunc eu, imperdiet nulla. Vestibulum condimentum nunc arcu, scelerisque maximus enim gravida nec. In eu erat nec massa mollis accumsan viverra sed ligula. Curabitur id felis viverra, consequat est et, mattis eros. Nunc rhoncus orci vitae purus accumsan lobortis. Curabitur vehicula ipsum nec condimentum tincidunt. Suspendisse at tempor eros.
                </p>
                <div class="mbr-section-btn"><a class="btn btn-md btn-secondary display-4" href="">How It Works</a>
                    <a class="btn btn-md btn-white-outline display-4" href="">Try It Now</a></div>
            </div>
        </div>
    </div>
    <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
        <a href="#next">
            <i class="mbri-down mbr-iconfont"></i>
        </a>
    </div>
</section>



<!-- Content section 2-->
<section class="mbr-section content5 cid-rgObI2dTQN" id="content5-g">
    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 col-md-8">
                <h2 class="align-center mbr-bold mbr-white pb-3 mbr-fonts-style display-1">
                    HOW IT WORKS
                </h2>
            </div>
        </div>
    </div>
</section>



<!-- Content section 3-->
<section class="mbr-section content7 cid-rgObGs5Mso" id="content7-f">
    <div class="container">
        <div class="media-container-row">
            <div class="col-12 col-md-8">
                <div class="media-container-row">
                    <div class="media-content">
                        <div class="mbr-section-text">
                            <p class="mbr-text align-right mb-0 mbr-fonts-style display-7">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sagittis justo at eros finibus maximus. In luctus gravida augue a tincidunt. Cras tortor quam, iaculis id magna at, elementum consectetur ex.&nbsp;</p>
                        </div>
                    </div>
                    <div class="mbr-figure" style="width: 60%;">
                     <img src="assets/images/background1.jpg">  
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Content section 4-->
<section class="mbr-section article content1 cid-rgObDCSWle" id="content1-e">
    <div class="container">
        <div class="media-container-row">
            <div class="mbr-text col-12 mbr-fonts-style display-7 col-md-8"><p><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sagittis justo at eros finibus maximus. In luctus gravida augue a tincidunt. Cras tortor quam, iaculis id magna at, elementum consectetur ex.&nbsp;</strong></p></div>
        </div>
    </div>
</section>


<!-- Content section 5-->
<section class="features2 cid-rgO8K1kn5Q" id="features2-d">
    <div class="container">
        <div class="media-container-row">
            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="assets/images/mbr-492x328.jpg" title="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">
                            Step 1</h4>
                        <p class="mbr-text mbr-fonts-style display-7">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sagittis justo at eros finibus maximus. In luctus gravida augue a tincidunt. Cras tortor quam, iaculis id magna at, elementum consectetur ex.&nbsp;</p>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="assets/images/mbr-492x328.jpg" title="">
                    </div>
                    <div class="card-box ">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">
                            Step 2</h4>
                        <p class="mbr-text mbr-fonts-style display-7">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sagittis justo at eros finibus maximus. In luctus gravida augue a tincidunt. Cras tortor quam, iaculis id magna at, elementum consectetur ex.&nbsp;</p>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="assets/images/mbr-492x328.jpg"  title="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">
                            Step 3</h4>
                        <p class="mbr-text mbr-fonts-style display-7">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sagittis justo at eros finibus maximus. In luctus gravida augue a tincidunt. Cras tortor quam, iaculis id magna at, elementum consectetur ex.&nbsp;</p>
                    </div>
                </div>
            </div>

            <div class="card p-3 col-12 col-md-6 col-lg-3">
                <div class="card-wrapper">
                    <div class="card-img">
                        <img src="assets/images/mbr-492x328.jpg"  title="">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">
                            Step 4</h4>
                        <p class="mbr-text mbr-fonts-style display-7">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sagittis justo at eros finibus maximus. In luctus gravida augue a tincidunt. Cras tortor quam, iaculis id magna at, elementum consectetur ex.&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- Content section 6-->
<section class="testimonials1 cid-rgO69Cfv07" id="testimonials1-9">
    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 align-center">
                <h2 class="pb-3 mbr-fonts-style display-2">
                    The Team</h2>
                
            </div>
        </div>
    </div>

    <div class="container pt-3 mt-2">
        <div class="media-container-row">
            <div class="mbr-testimonial p-3 align-center col-12 col-md-6 col-lg-4">
                <div class="panel-item p-3">
                    <div class="card-block">
                        <div class="testimonial-photo">
                            <img src="assets/images/mbr-240x160.jpg" alt="" title="">
                        </div>
                        <p class="mbr-text mbr-fonts-style display-7">
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, aspernatur, voluptatibus, atque, tempore molestiae.
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="mbr-author-name mbr-bold mbr-fonts-style display-7">
                             John Smith
                        </div>
                        <small class="mbr-author-desc mbr-italic mbr-light mbr-fonts-style display-7">
                               Developer
                        </small>
                    </div>
                </div>
            </div>

            <div class="mbr-testimonial p-3 align-center col-12 col-md-6 col-lg-4">
                <div class="panel-item p-3">
                    <div class="card-block">
                        <div class="testimonial-photo">
                            <img src="assets/images/mbr-240x160.jpg" alt="" title="">
                        </div>
                        <p class="mbr-text mbr-fonts-style display-7">
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, aspernatur, voluptatibus, atque, tempore molestiae.
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="mbr-author-name mbr-bold mbr-fonts-style display-7">
                             John Smith
                        </div>
                        <small class="mbr-author-desc mbr-italic mbr-light mbr-fonts-style display-7">
                               Developer
                        </small>
                    </div>
                </div>
            </div>

            <div class="mbr-testimonial p-3 align-center col-12 col-md-6 col-lg-4">
                <div class="panel-item p-3">
                    <div class="card-block">
                        <div class="testimonial-photo">
                            <img src="assets/images/mbr-240x160.jpg" alt="" title="">
                        </div>
                        <p class="mbr-text mbr-fonts-style display-7">
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, aspernatur, voluptatibus, atque, tempore molestiae.
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="mbr-author-name mbr-bold mbr-fonts-style display-7">
                             John Smith
                        </div>
                        <small class="mbr-author-desc mbr-italic mbr-light mbr-fonts-style display-7">
                               Developer
                        </small>
                    </div>
                </div>
            </div>            
        </div>
    </div>   
</section>



<!-- FOOTER-->
<section once="" class="cid-rgO6fCCZcd" id="footer6-b">
    <div class="container">
        <div class="media-container-row align-center mbr-white">
            <div class="col-12">
                <p class="mbr-text mb-0 mbr-fonts-style display-7">HTMLFORGE PROTOTYPE WEBSITE - By Khalid Qubbaj</p>
            </div>
        </div>
    </div>
</section>



<!-- Scripts Used-->
  <script src="assets/web/assets/jquery/jquery.min.js"></script>
  <script src="assets/popper/popper.min.js"></script>
  <script src="assets/tether/tether.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/smoothscroll/smooth-scroll.js"></script>
  <script src="assets/dropdown/js/script.min.js"></script>
  <script src="assets/touchswipe/jquery.touch-swipe.min.js"></script>
  <script src="assets/theme/js/script.js"></script>
  
  
</body>
</html>