<!DOCTYPE html>
<html>
    <head>
        <title>
            Test Site
        </title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js">
        </script>
        <script src="https://unpkg.com/filepond/dist/filepond.min.js">
        </script>
        <script src="https://unpkg.com/jquery-filepond/filepond.jquery.js">
        </script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" rel="stylesheet"/>
        <link href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css" rel="stylesheet"/>
        <link href="https://unpkg.com/filepond/dist/filepond.min.css" rel="stylesheet"/>
        <link href="./CSS_src/Upload.css" rel="stylesheet"/>
    </head>
    <body>
        <!-- Upload Button-->
        <input class="filepond" data-max-file-size="10MB" data-max-files="1" multiple="" name="file" type="file"/>
        <!-- file upload itself is disabled in this pen -->
        <script src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.min.js">
        </script>
        <script src="https://unpkg.com/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.min.js">
        </script>
        <script src="https://unpkg.com/filepond-plugin-image-exif-orientation/dist/filepond-plugin-image-exif-orientation.min.js">
        </script>
        <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.js">
        </script>
        <script src="https://unpkg.com/filepond/dist/filepond.min.js">
        </script>
        <script src="./JS_src/Upload2.js">
        </script>
    </body>
</html>