
/* The Modal (background) */
.forge-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  color: grey;
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}


.forge-modal-header {
    padding: 0.2em;
    background-image: linear-gradient(to right, #04C4D9 0% ,#0B8CBF 100%);
    /* background-image: linear-gradient(to right, #185a9d 0% ,#299472 100%); */
    color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  
.forge-modal-body {
    padding-left: 0.6em;
    padding-right: 0.6em;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #fefefe;
}
  

/* Modal Content */
.forge-modal-content {
  text-align: center;
  position: relative;
  margin: auto;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
  border-radius: 10px;
  max-width: 650px;
}

.forge-modal-footer {
    padding: 1em !important;
    background-image: linear-gradient(to right, #04C4D9 0% ,#0B8CBF 100%);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
  }

.forge-modal-btn:hover { 
    background-color:  #F2C230; 
    color: white;
}
.forge-modal-btn {
    background-color: white;
    height: 45px;
    min-width: 150px;
    max-width: 275px;
    margin: 0.4em;
    border: none; 
    color: grey; 
    cursor: pointer; 
    border-radius: 20px;
}


/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

