<!DOCTYPE html>
<html>

<head>
    <!-- App Info -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="HTML Forge Application">
    <meta name="author" content="Khalid Qubbaj, Edward Lai">
	
	<!-- Titles, Brands and Icons-->
	<title>HTML Forge - Build Your Site With AI</title>
	<link rel="icon" href="Images/Brand/Icon1.png">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="Images/AppIcon/57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="Images/AppIcon/72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="Images/AppIcon/114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="Images/AppIcon/144.png" />

    <!-- Compiled and minified Materialize CSS , icons , JS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="JS_src/bootstrap.min.js"></script>
   
    <!-- Custom CSS -->
    <link rel="stylesheet" href="CSS_src/AppPage.css">
    <link rel="stylesheet" href="CSS_src/LandingPage.css">
    <link rel="stylesheet" href="CSS_src/BGCircles.css">
    <link rel="stylesheet" href="CSS_src/bootstrap.min.css">

    <!-- Animation CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">



    <!-- File Pond CSS & JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
</head>


<body >

	System Documentation

    
</body>

</html>