<!DOCTYPE html>
<html>

<head>
    <!-- App Info -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="HTML Forge Application">
    <meta name="author" content="Khalid Qubbaj, Edward Lai">
	
	<!-- Titles, Brands and Icons-->
	<title>HTML Forge - Build Your Site With AI</title>
	<link rel="icon" href="Images/Brand/Icon1.png">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="appIcons/AppIcon.appiconset/57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="appIcons/AppIcon.appiconset/72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="appIcons/AppIcon.appiconset/114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="appIcons/AppIcon.appiconset/144.png" />

    <!-- Compiled and minified Materialize CSS , icons , JS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="JS_src/bootstrap.min.js"></script>
   
    <!-- Custom CSS -->
    <link rel="stylesheet" href="CSS_src/AppPage.css">
    <link rel="stylesheet" href="CSS_src/LandingPage.css">
    <link rel="stylesheet" href="CSS_src/BGCircles.css">
    <link rel="stylesheet" href="CSS_src/bootstrap.min.css">

    <!-- Animation CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">



	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="CSS_src/LangingPageLotsOfCSSIDontKnow/icomoon.css">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="CSS_src/LangingPageLotsOfCSSIDontKnow/magnific-popup.css">



    <!-- File Pond CSS & JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
</head>


<body >

    <!-- Generate Objects for Back-ground animation -->
    <div class="area" style="height: 500px">
        <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>  
        <!-- Jumbotron Hero - WEB HEADER-->
        <div class = "center-align v-align-wrapper" style="color:white; padding-top: 225px;">
			<a class="uploadCard-btn curve-b curve-t waves-effect waves-light p-2" href="AppPage.html" style="max-width: 500px;">
				<h4>Try The App!</h4>
			</a>
        </div>
    </div>




    <!-- Code Body Goes INSIDE here -->
    <div class="p-5 z-depth-5"style="background-color: whitesmoke; color:grey; height:auto; width: auto; overflow: hidden; " >






        <div class="container p-5">
				<div class="col-md-6 col-md-push-6">
					<figure class="">
						<img src="Images/LandingPage/macbook.png">
					</figure>
				</div>
				<div class="col-md-6 col-md-pull-6">
					<span class="fh5co-label animate-box">See Features</span>
					<h2 class="fh5co-lead animate-box">Superb Features</h2>
					<div class="fh5co-feature">
						<div class="fh5co-icon animate-box"><i class="icon-check2"></i></div>
						<div class="fh5co-text animate-box">
							<h3>Idea to working website in seconds</h3>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
						</div>
					</div>
					<div class="fh5co-feature">
						<div class="fh5co-icon animate-box"><i class="icon-check2"></i></div>
						<div class="fh5co-text animate-box">
							<h3>Responsive is saleable</h3>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
						</div>
					</div>
					<div class="fh5co-feature">
						<div class="fh5co-icon animate-box"><i class="icon-check2"></i></div>
						<div class="fh5co-text animate-box">
							<h3> </h3>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
						</div>
					</div>

					<div class="fh5co-btn-action animate-box">
						<a href="#" class="btn btn-primary btn-cta">More Features</a>
					</div>

				</div>
			</div>


            <hr style="border-width: 2px">



        	<section id="fh5co-features" >
			<div class="container" style="padding-bottom: 100px">
				<div class="row text-center row-bottom-padded-md">
					<div class="col-md-8 col-md-offset-2">
						<figure class="fh5co-devices animate-box"><img src="Images/LandingPage/img_devices.png" alt="Free HTML5 Bootstrap Template" class="img-responsive"></figure>
						<h2 class="fh5co-lead animate-box">Perfect Display in All Devices</h2>
						<p class="fh5co-sub-lead animate-box">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 col-sm-6 col-xs-12 animate-box">
						<div class="fh5co-feature">
							<div class="fh5co-icon">
								<i class="icon-power"></i>
							</div>
							<h3>Best For Startup</h3>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right .</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12 animate-box">
						<div class="fh5co-feature">
							<div class="fh5co-icon">
								<i class="icon-flag2"></i>
							</div>
							<h3>Easy To Use</h3>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right .</p>
						</div>
					</div>
					<div class="clearfix visible-sm-block"></div>
					<div class="col-md-4 col-sm-6 col-xs-12 animate-box">
						<div class="fh5co-feature">
							<div class="fh5co-icon">
								<i class="icon-anchor"></i>
							</div>
							<h3>Robust In Mind</h3>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right .</p>
						</div>
					</div>

					<div class="col-md-4 col-sm-6 col-xs-12 animate-box">
						<div class="fh5co-feature">
							<div class="fh5co-icon">
								<i class="icon-paragraph"></i>
							</div>
							<h3>Beautiful Typography</h3>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right .</p>
						</div>
					</div>
					<div class="clearfix visible-sm-block"></div>
					<div class="col-md-4 col-sm-6 col-xs-12 animate-box">
						<div class="fh5co-feature">
							<div class="fh5co-icon">
								<i class="icon-umbrella"></i>
							</div>
							<h3>Eco Friendly</h3>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right .</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12 animate-box">
						<div class="fh5co-feature">
							<div class="fh5co-icon">
								<i class="icon-toggle"></i>
							</div>
							<h3>Wide and Boxed</h3>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right .</p>
						</div>
					</div>
					<div class="clearfix visible-sm-block"></div>
				</div>
			</div>
		</section>


        <hr style="border-width: 2px">

        	<!-- start about -->
		    <div class="container">
                <div class="row">
                    <div class="col-md-12 wow bounceIn">
                        <h2>Meet the team</h2>
                    </div>
                </div>

			    <div class="row">
                    <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="about-wrapper">
                            <img src="Images/LandingPage/team-img-1.png" class="img-responsive" alt="about img">
                            <h3>Khalid Kmq Qubbaj</h3>
                            <h5>xxxxxxxx</h5>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="about-wrapper">
                            <img src="Images/LandingPage/team-img-1.png" class="img-responsive" alt="about img">
                            <h3>Hsuan Han Lai</h3>
                            <h5>xxxxxxxx</h5>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="about-wrapper">
                            <img src="Images/LandingPage/team-img-1.png" class="img-responsive" alt="about img">
                            <h3>Waqas A Latif</h3>
                            <h5>xxxxxxx</h5>
                        </div>
                    </div>
			    </div>
		    </div>

        <hr style="border-width: 2px">

        <footer id="fh5co-footer">
			<div class="fh5co-copyright animate-box">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
                            <p class="fh5co-left"><small>HTML Forge Powered by HTML Forge</small></p>
							<p class="fh5co-left"><small>&copy; 2019,  All Rights Reserved.</small></p>
						</div>
					</div>
				</div>
			</div>
    </footer>

    </div>



    <script type="text/javascript">
        // Initialize Materialize JS
        M.AutoInit();

    </script>


    
</body>

</html>