<!DOCTYPE html>
<html>

<head>
    <!-- App Info -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="HTML Forge Application">
    <meta name="author" content="Khalid Qubbaj, Edward Lai">
	
	<!-- Titles, Brands and Icons-->
	<title>HTML Forge - Build Your Site With AI</title>
	<link rel="icon" href="Images/Brand/Icon1.png">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="Images/AppIcon/57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="Images/AppIcon/72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="Images/AppIcon/114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="Images/AppIcon/144.png" />

    <!-- Compiled and minified Materialize CSS , icons , JS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="JS_src/bootstrap.min.js"></script>
   
    <!-- Custom CSS -->
    <link rel="stylesheet" href="CSS_src/AppPage.css">
    <link rel="stylesheet" href="CSS_src/LandingPage.css">
    <link rel="stylesheet" href="CSS_src/BGCircles.css">
    <link rel="stylesheet" href="CSS_src/bootstrap.min.css">

    <!-- Animation CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">



	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="CSS_src/LangingPageLotsOfCSSIDontKnow/icomoon.css">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="CSS_src/LangingPageLotsOfCSSIDontKnow/magnific-popup.css">



    <!-- File Pond CSS & JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
</head>


<body >

	<!-- Nav Bar -->
	<div class="forge-NavBar">
		<ul class="forge-NB-ul">
			HTML FORGE
			<!-- <img class="forge-NB-item" src="Images/Brand/Icon1.png"> 
			<img class="forge-NB-item forge-Logo" src="Images/Brand/Logo3.png">  -->
			<li><a class="forge-NB-li" href="AppPage.html">Try Now!</a></li>
			<li><a class="forge-NB-li" href="Documentation.html">Documentation</a></li>
			<li><a class="forge-NB-li" href="About.html">About</a></li>
			<li><a class="fogre-NB-li" href="Support.html">How To Use</a></li>
			<li><a class="forge-NB-li" href="index_Old.html">Home</a></li>
		</ul>
	</div>







	<!-- Header Div -->
	<div style="height: 60vh">
		<!-- Generate Objects for Back-ground animation -->
		<div class="webArea" style="max-height:60vh;">
			<ul class="circles">
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>  
		</div>
		<!-- Jumbotron Hero - WEB HEADER-->
			
		<div class = "center-align v-align-wrapper" style="color:white; padding-top: 20vh; height: 20vh; padding-bottom: 20vh; position: absolute; top: 50px; right: 10%;">
			<a class="uploadCard-btn curve-b curve-t waves-effect waves-light p-2" href="AppPage.html" style="max-width: 500px;">
				<h4>Try The App!</h4>
			</a>
		</div>
	</div>




    <!-- Code Body Goes INSIDE here -->
    <div class="forge-Body" style=" color:grey; height:auto; width: auto; overflow: hidden;" >
        <div class="container p-5 debugB">
            <h3>HTML Forge</h3>
            <h5>HTML Forge is a Web-Based application that converts a physical Graphical User Interface mockup into HTML5 code by leveraging the power of Machine Learning. HTML Forge was designed to speed up work-flow, and allow developers and students alike to speed up their web development tasks by simplifying the process into a simple upload and convert button. HTML Forge reduce repetitive work of a web developer, and help kickstart the project.  </h5>
        </div>>




        <div class="container p-5 debugB">
				<div class="col-md-6 col-md-push-6">
					<figure class="">
						<img src="Images/LandingPage/macbook.png">
					</figure>
				</div>
				<div class="col-md-6 col-md-pull-6">
					<div class="fh5co-feature">
						<div class="fh5co-icon animate-box"></div>
						<div class="fh5co-text animate-box">
							<h3>Robust AI Model</h3>
                            <p>Implemented with Google’s newest machine learning application AutoML</br>Used over 20,000 drawings to train the AI Model</br>Cloud computation with fast and accurate predictions</p>
						</div>
					</div>
					<div class="fh5co-feature">
						<div class="fh5co-icon animate-box"></div>
						<div class="fh5co-text animate-box">
							<h3>Image Processing Library </h3>
                            <p>Open source image processing library OpenCV</br> Pre-processing user uploaded image</br>Perform image enhancement, block detection, and cropping</p>
						</div>
					</div>
					<div class="fh5co-feature">
						<div class="fh5co-icon animate-box"></div>
						<div class="fh5co-text animate-box">
							<h3>Generate clean and elegant code</h3>
                            <p>Responsive user interface, upload your design from any device you have</br>Download and edit it further to meet your own needs</p>
						</div>
					</div>

					<div class="fh5co-btn-action animate-box">
						<a href="Support.html" class="btn btn-primary btn-cta">How To Guide</a>
					</div>

				</div>
			</div>


            <hr style="border-width: 2px">




        <hr style="border-width: 2px">

        	<!-- start about -->
		    <div class="container">
                <div class="row">
                    <div class="col-md-12 wow bounceIn">
                        <h2>Meet the team</h2>
                    </div>
                </div>

			    <div class="row">
                    <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="about-wrapper">
                            <img src="Images/LandingPage/team-img-1.png" class="forge-profile" alt="about img">
                            <h3>Khalid Kmq Qubbaj</h3>
                            <h5>xxxxxxxx</h5>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="about-wrapper">
                            <img src="http://www.htmlforge.com/edward.jpg" class="forge-profile" alt="about img">
                            <h3>Hsuan Han Lai</h3>
                            <h5>xxxxxxxx</h5>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="about-wrapper">
                            <img src="http://www.htmlforge.com/waqas.jpg" class="forge-profile" alt="about img">
                            <h3>Waqas A Latif</h3>
                            <h5></h5>
                        </div>
                    </div>
			    </div>
		    </div>

        <hr style="border-width: 2px">

        <footer id="fh5co-footer">
			<div class="fh5co-copyright animate-box">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
                            <p class="fh5co-left"><small>HTML Forge Powered by HTML Forge</small></p>
							<p class="fh5co-left"><small>&copy; 2019,  All Rights Reserved.</small></p>
						</div>
					</div>
				</div>
			</div>
    </footer>

    </div>



    <script type="text/javascript">
        // Initialize Materialize JS
        M.AutoInit();

    </script>


    
</body>

</html>