<!DOCTYPE html>
<html>

<head>
    <!-- App Info -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="HTML Forge Application">
    <meta name="author" content="Khalid Qubbaj">
    <title>HTML Forge App</title>

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="appIcons/AppIcon.appiconset/57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="appIcons/AppIcon.appiconset/72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="appIcons/AppIcon.appiconset/114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="appIcons/AppIcon.appiconset/144.png" />


    <!-- Compiled and minified Materialize CSS , icons , JS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>    
   

    <!-- Custom CSS -->
    <link rel="stylesheet" href="CSS_src/AppPage.css">
    <link rel="stylesheet" href="CSS_src/BGCircles.css">
    <link rel="stylesheet" href="CSS_src/Upload.css">
    <link rel="stylesheet" href="CSS_src/loader.css">

    <!-- Animation CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">

    <!-- File Pond CSS & JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <script src="https://unpkg.com/filepond/dist/filepond.min.js"></script>
    <script src="https://unpkg.com/jquery-filepond/filepond.jquery.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.css'>
    <link rel='stylesheet' href='https://unpkg.com/filepond/dist/filepond.min.css'>
</head>


<body >

<!-- Generate Objects for Back-ground animation -->
<div class="area" >
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    

<!-- All content will be wrapped in this container-->
<div class="appContainer animated fadeIn">

    <!-- Header -->
    <div class="appContainerHeader p-1">  
        <!-- Note: The pretty font is called AudioWide -->
        <img class="p-1" src="Images/Brand/Icon1.png" style="height: 60px"/> 
        <img class="p-1" src="Images/Brand/Logo3.png" style="height: 50px"/> 
    </div>

    <!-- Inner Container -->
    <div class="appInnerContainer col shadowInsetTop pl-3 pr-3 pt-2 pb-2">

         <!-- Progress Bar -->
         <div class="m-2 progBar curve-b curve-t z-depth-1 center-align">
            <img id="pb1" class="curve-b curve-t animated fadeIn faster"              src="Images/ProgressBar/ProgressBar_1.jpg"/>
            <img id="pb2" class="curve-b curve-t animated fadeIn faster progBarHide"  src="Images/ProgressBar/ProgressBar_2.jpg"/>
            <img id="pb3" class="curve-b curve-t animated fadeIn faster progBarHide"  src="Images/ProgressBar/ProgressBar_3.jpg"/>      
        </div>

        <!-- -------------------------------------------------------------------------------------->
        <!--                                      UPLOAD PAGE                                    -->
        <!-- -------------------------------------------------------------------------------------->
        <div id="upload_page" class="row animated fadeIn" style="display: block">
            

            <!-- OPTION 1: USER PICKS A PRE-FABRICATED IMAGE -->
            <div class="col s12 l6">
                <div class="uploadCard z-depth-1 hoverable m-2">
                     <!-- Header -->
                    <div class="uploadCard-head">
                        <h7> Don't have an Image? Pick one of ours! </h7>
                    </div>
                    <!-- Content (Carousel) -->
                    <div class="carousel shadowInsetTop">
                        <a class="carousel-item hoverable" href="#one!">    <img src="Images/Samples/Samp1.jpg"></a>
                        <a class="carousel-item hoverable" href="#two!">    <img src="Images/Samples/Samp2.jpg"></a>
                        <a class="carousel-item hoverable" href="#three!">  <img src="Images/Samples/Samp3.jpg"></a>
                        <a class="carousel-item hoverable" href="#four!">   <img src="Images/Samples/Samp4.jpg"></a>
                        <a class="carousel-item hoverable" href="#five!">   <img src="Images/Samples/Samp5.jpg"></a>
                    </div>
                    <!-- Button -->
                    <button class="uploadCard-btn curve-b waves-effect waves-light" id="confirm_button" disabled>Use This Image!</button>
                </div>               
            </div>


            <!-- OPTION 2: USER UPLOADS THEIR OWN IMAGE -->
            <div class="col s12 l6">
                <div class="uploadCard z-depth-1 hoverable m-2">
                    <!-- Header -->
                    <div class="uploadCard-head">
                        <h7> Upload your own sketch </h7>
                    </div>
                    <!-- Content (Upload) -->
                    <div id="uploadButton" class="shadowInsetTop">
                        <input type="file" 
                            class="filepond" 
                            name="file" 
                            multiple 
                            data-max-files="1"
                            data-max-file-size="10MB" 
                            style="height: 80%"/>
                    </div>
                    <!-- Button --> <!-- onclick="confirmUpload()" -->
                    <button class="uploadCard-btn curve-b waves-effect waves-light" id="confirm_button" onClick="confirmUpload()">Convert This Image</button>
                </div>
            </div>
            

        </div> <!-- End of Upload Page -->



        <!-- -------------------------------------------------------------------------------------->
        <!--                                     LOADING PAGE                                    -->
        <!-- -------------------------------------------------------------------------------------->
        <div id="loading_page" class="text-center" style="display: none;">

            <!-- Load Container-->
            <div class="loading-div z-depth-1">

                <!-- Text -->
                <div class="container">
                    <div class="loadText-wrapper">
                        <div class="loadText">
                            <!-- <div class="text1">Something is Wrong</div>
                            <div class="text1">If only the Devs did their job properly...</div>
                            <div class="text1">This loading is Suspicious</div>
                            <div class="text1">You're still here!</div>
                            <div class="text2">:(-</div>
                            <div class="text1">Dont leave</div>
                            <div class="text2">No Wait-</div>
                            <div class="text1">Getting Bored?</div>
                            <div class="text2">Still Loading...</div>
                             -->
                            <div class="text1">Please Wait</div>
                            <div class="text2">Its Super Effective!</div>
                            <div class="text3">AI uses Magic!</div>
                            <div class="text4">Sprinkling Magic Dust</div>
                            <div class="text5">Preparing Cauldron</div>
                            <div class="text6">Taking a while, huh?</div>
                            <div class="text7">Please Wait</div>
                            <div class="text8">Retrieving Data</div>
                            <div class="text9">Making Predictions</div>
                            <div class="text10">Detecting Blocks</div>
                            <div class="text11">To the Cloud!</div>
                        </div> 
                    </div> 
                </div>
             
                <!-- Google's Loading Spinner-->
                <div class="preloader-wrapper big active m-4">

                    <div class="spinner-layer spinner-blue">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                
                    <div class="spinner-layer spinner-red">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                
                    <div class="spinner-layer spinner-yellow">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                
                    <div class="spinner-layer spinner-green">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>

                </div>
            
            </div> <!-- End Container -->

        </div> <!-- End of Loading Page -->



        <!-- -------------------------------------------------------------------------------------->
        <!--                                   DETECTION PAGE                                    -->
        <!-- -------------------------------------------------------------------------------------->
        <!-- DETECTED BLOCKS PAGE -->
        <div id="detection_page" style="display: none;"> 
            <div class="row">
                

                <!-- Cards Populated -->
                <div class="col s12 l5">
                    <div class="m-2" id="detected_box"> </div>
                </div>


                <!-- Image Uploaded -->
                <div class="col s12 l7">
                    <div class="uploadCard z-depth-1 m-2">

                         <!-- Header -->
                        <div class="uploadCard-head">
                            <h7> Your Uploaded Image </h7>
                        </div>
                       
                        <!-- Image-->
                        <img id="uploaded_img" class="pl-3 pr-3 pt-3 pb-2 curve-b curve-t" src="" alt=" Image Not Found" style="width: 100%; object-fit: cover;">


                        <!-- Buttons -->
                        <div class="ml-3 mr-3">
                            <button class="uploadCard-btn curve-b curve-t waves-effect waves-light mb-2" onclick="window.location.reload()">Upload Again</button>
                            <button class="uploadCard-btn curve-b curve-t waves-effect waves-light mb-3" onclick="GenerateHTML(0)">Generate HTML</button>
                        </div>
                    </div>               
                </div>


            </div>
        </div> <!-- End of Detected Page-->



        <!-- -------------------------------------------------------------------------------------->
        <!--                                    RESULTS PAGE                                     -->
        <!-- -------------------------------------------------------------------------------------->
        <div id="results_page" style= "display: none;">
                

            <!-- Result Card -->
            <div class="p-2">
                <div class="uploadCard z-depth-1">

                    <!-- Header -->
                    <div class="uploadCard-head">
                        <h7> Generated Code </h7>
                    </div>

                    <!-- Tabs -->
                    <div class="row">

                        <div class="col s3" >
                            <button class="tab-btn waves-effect shadowInsetTop" onclick="tabSwitch(1)" >HTML</button>
                        </div>
                        <div class="col s3 ">
                            <button class="tab-btn waves-effect shadowInsetTop" onclick="tabSwitch(2)">CSS</button>
                        </div>
                        <div class="col s3">
                            <button class="tab-btn waves-effect shadowInsetTop" onclick="tabSwitch(3)">Preview</button>
                        </div>
                        <div class="col s3">
                            <button class="tab-btn waves-effect shadowInsetTop" onclick=" window.open('AppPage.html','_blank')"> Full Preview</button>
                        </div>

                    </div>


                    <!-- HTML Space -->
                    <div id="HTML_space" class="p-3 shadowInsetTop tab-view">
                            <button class="uploadCard-btn waves-effect waves-light"  onclick="copyToClipboard('#pushed_code')">Copy This</button>   
                        <pre>
                            <code id="pushed_code" class="language-html"> HTML Code is here</code>
                        </pre>
                    </div>


                    <!-- CSS Space -->
                    <div id="CSS_space" class="p-3 shadowInsetTop tab-view">
                            <button class="uploadCard-btn waves-effect waves-light"  onclick="copyToClipboard('#pushed_css')">Copy This</button>   
                            <pre>
                                <code id="pushed_css" class="language-html"> CSS Code is here</code>
                            </pre>
                        </div>


                    <!-- Web View -->
                    <iframe id="PREV_space" src="AppPage.html" class="shadowInsetTop tab-view"></iframe>
                    

                </div>               
            </div>

            <!-- Buttons -->
            <div class="row p-1">
                <div class="col s6 ">
                    <div class="m-2">
                        <button class="uploadCard-btn waves-effect waves-light curve-b curve-t" onclick="window.location.reload()">Upload Again</button>
                    </div>
                </div>
                <div class="col s6">
                    <div class="m-2">
                        <button class="uploadCard-btn waves-effect waves-light curve-b curve-t" onclick="getZip(document.getElementById('pushed_code').innerText)">Download as Zip</button>
                    </div>    
                </div>
            </div>

        </div> <!-- End of Results Page-->


        
    </div> <!-- End of appInnerContainer-->
</div> <!-- End of appContainer-->


<!-- -------------------------------------------------------------------------------------->
<!--                                    DEBUGGER                                         -->
<!-- -------------------------------------------------------------------------------------->
    <div class="col s12 l6" style="display: block">
        <div class="uploadCard mt-3 ml-2 mr-2 mb-3 z-depth-1 hoverable">

            <!-- Header -->
            <div class="uploadCard-head">
                <h7> FRONT END DEBUGGER</h7>
            </div>
            
            <!-- Khalids FrontEnd Debugger-->
            <div class="col s12 center-align">
                <a class="waves-effect waves-light btn red m-1" onclick="bypassUpload()">Bypass for DEBUG</a>
                <a class="waves-effect waves-light btn red m-1" onclick="pageSwitch(2)">Show Load</a>
                <a class="waves-effect waves-light btn red m-1" onclick="createCard()">DEBUG: Add Card</a> 
            </div>
                      
            <button class="btn-off shadowInset waves-effect waves-light mb-2" onclick="window.location.reload()">Upload Again</button>
        </div>               
    </div>


</div>
    <!-- file upload itself is disabled in this pen -->
    <script src='https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.min.js'></script>
    <script src='https://unpkg.com/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.min.js'></script>
    <script src='https://unpkg.com/filepond-plugin-image-exif-orientation/dist/filepond-plugin-image-exif-orientation.min.js'></script>
    <script src='https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.min.js'></script>
    <script src='https://unpkg.com/filepond/dist/filepond.min.js'></script>
       
    <script type="text/javascript" src="JS_src/Upload.js"></script>
    <script type="text/javascript" src="JS_src/HTML_Parser_JS.js"></script>
    <script type="text/javascript" src="JS_src/AppPageScript.js"></script>
    <script type="text/javascript" src="JS_src/Template_1.js"></script>
    <script type="text/javascript" src="JS_src/jszip.min.js"></script>
    <script type="text/javascript" src="JS_src/FileSaver.min.js"></script>
    <script type="text/javascript" src="JS_src/codePrettyPrint.js"></script>

    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>

    <script type="text/javascript">
        // Initialize Materialize JS
        M.AutoInit();

        // $(document).ready(function(){
        //     $('.carousel').carousel();                // Initialize: Carousel on Upload Page
        //     $('.materialboxed').materialbox();        // Initialize: Image Enlargement 
        //     $('.dropdown-trigger').dropdown();        // Initialize: Drop down 
        // });

    </script>


    
</body>

</html>