<!DOCTYPE html>
<html>

<head>
    <!-- App Info -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="HTML Forge Application">
    <meta name="author" content="Khalid Qubbaj, Edward Lai">
	
	<!-- Titles, Brands and Icons-->
	<title>HTML Forge - Build Your Site With AI</title>
	<link rel="icon" href="Images/Brand/Icon1.png">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="Images/AppIcon/57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="Images/AppIcon/72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="Images/AppIcon/114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="Images/AppIcon/144.png" />

    <!-- Compiled and minified Materialize CSS , icons , JS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="JS_src/bootstrap.min.js"></script>
   
    <!-- Custom CSS -->
    <link rel="stylesheet" href="CSS_src/AppPage.css">
    <link rel="stylesheet" href="CSS_src/LandingPage.css">
    <link rel="stylesheet" href="CSS_src/BGCircles.css">
    <link rel="stylesheet" href="CSS_src/bootstrap.min.css">

    <!-- Animation CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">



	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="CSS_src/LangingPageLotsOfCSSIDontKnow/icomoon.css">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="CSS_src/LangingPageLotsOfCSSIDontKnow/magnific-popup.css">



    <!-- File Pond CSS & JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
</head>

<header>
    	<!-- Nav Bar -->
	<div class="forge-NavBar">
		<ul class="forge-NB-ul">
			HTML FORGE
			<!-- <img class="forge-NB-item" src="Images/Brand/Icon1.png">
			<img class="forge-NB-item forge-Logo" src="Images/Brand/Logo3.png">  -->
			<li><a class="forge-NB-li" href="AppPage.html">Try Now!</a></li>
			<li><a class="forge-NB-li" href="Documentation.html">Documentation</a></li>
			<li><a class="forge-NB-li" href="About.html">About</a></li>
			<li><a class="fogre-NB-li" href="Support.html">How To Use</a></li>
			<li><a class="forge-NB-li" href="index_Old.html">Home</a></li>
		</ul>
	</div>
</header>

<body >





    <div class="forge-Body" style="color:grey; height:auto; width: auto; overflow: hidden;" >

        	<section id="fh5co-features" >
			<div class="container" style="padding-bottom: 100px">
				<div class="row text-center row-bottom-padded-md">
					<div class="col-md-8 col-md-offset-2" style="margin-top: 50px">
					<!--<figure class="fh5co-devices animate-box"><img src="Images/LandingPage/img_devices.png" alt="Free HTML5 Bootstrap Template" class="img-responsive"></figure>-->
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/56ucT_Hw4bg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						<h2 class="fh5co-lead animate-box">Start creating your website</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 col-sm-6 col-xs-12 animate-box">
						<div class="fh5co-feature">
                            <h4>Step 1</h4>
							<h3>Best For Startup</h3>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right .</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12 animate-box">
						<div class="fh5co-feature">
                            <h4>Step 2</h4>
							<h3>Best For Startup</h3>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right .</p>
						</div>
					</div>
					<div class="clearfix visible-sm-block"></div>
					<div class="col-md-4 col-sm-6 col-xs-12 animate-box">
						<div class="fh5co-feature">
                            <h4>Step 3</h4>
							<h3>Best For Startup</h3>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right .</p>
						</div>
					</div>

					<div class="col-md-4 col-sm-6 col-xs-12 animate-box">
						<div class="fh5co-feature">
                            <h4>Step 4</h4>
							<h3>Best For Startup</h3>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right .</p>
						</div>
					</div>
					<div class="clearfix visible-sm-block"></div>
					<div class="col-md-4 col-sm-6 col-xs-12 animate-box">
						<div class="fh5co-feature">
                            <h4>Step 5</h4>
							<h3>Best For Startup</h3>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right .</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 col-xs-12 animate-box">
						<div class="fh5co-feature">
                            <h4>Step 6</h4>
							<h3>Best For Startup</h3>
							<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right .</p>
						</div>
					</div>
					<div class="clearfix visible-sm-block"></div>
				</div>
			</div>
		</section>
        </div>

    
</body>

</html>